* {
    background-color: rgb(230, 215, 191);
    color:rgb(92, 55, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    text-align: center;
}

img {
    height:350px;
    width:350px;
}

a {
    font-style: italic
}

p {
    font-style: italic;
}

.home {
    list-style-type: none;
    display: flex;
    gap: 16px;
    justify-content: space-around;
}